{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'train/main.css' %}">

    {% if title %}
        <title>Railgaadi - {{ title }}</title>
    {% else %}
        <title>Railgaadi</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          {% if user.is_authenticated %}
          <a class="navbar-brand mr-4" href="{% url 'railgaadi' %}"><button type="button" class="btn btn-success  "> Railgaadi</button></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          {% endif %}
          
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'train-home' %}"><button type="button" class="btn btn-info btn-sm "> Home</button></a>
              <a class="nav-item nav-link" href="{% url 'train-about' %}"><button type="button" class="btn btn-info btn-sm "> About</button></a>
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'search' %}"><button type="button" class="btn btn-info btn-sm "> Search</button></a>
              <a class="nav-item nav-link" href="{% url 'my_booking' %}"><button type="button" class="btn btn-info btn-sm "> My-Bookings</button></a>
              <!--<a class="nav-item nav-link" href="#">Book-Ticket</a>-->
              <a class="nav-item nav-link" href="{% url 'cancel' %}"><button type="button" class="btn btn-info btn-sm "> Cancel-Ticket</button></a>
              <a class="nav-item nav-link" href="{% url 'schedule' %}"><button type="button" class="btn btn-info btn-sm "> Schedule</button></a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
               
                <a class="nav-item nav-link" href="{% url 'logout' %}"><button type="button" class="btn btn-info btn-sm"> Logout</button></a>
                <a class="nav-item nav-link" href="{% url 'profile' %}"><button type="button" class="btn btn-info btn-sm"> Profile</button></a>
                <a class="nav-item nav-link" href="{% url 'contact' %}"><button type="button" class="btn btn-info btn-sm "> Contact Us</button></a>
                
                {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}"><button type="button" class="btn btn-info btn-sm "> Login</button></a>
              <a class="nav-item nav-link" href="{% url 'register' %}"><button type="button" class="btn btn-info btn-sm "> Register</button></a>
              <a class="nav-item nav-link" href="{% url 'contact' %}"><button type="button" class="btn btn-info btn-sm "> Contact Us</button></a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container"> <!--class="container"> -->
      <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
                
              </div>
            {% endfor %}
          {% endif %}
          {% if user.is_authenticated %}
                <h1 style="color: rgb(184, 17, 73); font-style:initial;">Hello {{user.username}}!</h1>
          {% endif %}
          {% block content %}{% endblock %}
        </div>
         
          
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>