{% extends "train/base.html" %}
{% load static %}
{% block content %}

<style>
    input[type=text][type=password]{
    border-radius:8px;
    width:600px;
    height:16px;
    color: rgb(177, 38, 170);
    
    }
</style>

<div style="color:rgb(14, 209, 89);border:1px solid white;border-radius:8px;background-color:white;padding:50px;
background-image: url(http://127.0.0.1:8000/media/train.pics/Rajdhani_Ou1OZMW.jpg);">
{% if error %}
    {% if not route1 %}
        <h1>Sorry! <br> No Train Available</h1>
    {% else %}
      
          
    <h3><strong>All Available Trains</strong></h3><hr>
    <table width="800">
    
        {% for i in route1 %}

        <tr style="margin-top:10px">
            
            <td><hr><img src="{{i.0.img.url}}" style="width:180px;height: 150px;" alt="{{i.0.trainname}}"></td>
            <td><b><br>Train Name: {{i.0.trainname}}<br>
                
                Train Number: {{i.0.train_no}}<br>
                From City: {{i.0.from_city}}<br>
                To City: {{i.0.to_city}}<br>
                Route of Passenger: {{route}}<br>
                Fare: {{fare3}}<br></b></td>
            <td><br><br><button style="background-color:rgb(185, 34, 185);border:1px solid rgb(184, 29, 231);border-radius:8px;padding:10px"><a href="{% url 'book_detail' coun i.0.id route %}" style="padding:30px;color:white;">Book Now</a></button><br><br></td>
        </tr>
        {% endfor %}
    </table><br>
    
    {% endif %}



    {% else %}
    <form method="post" action="">
        {% csrf_token %}

        <strong style="color:rgb(57, 9, 80) ;">From City:</strong><br><select name="fcity" style="border-radius:8px;width:600px;height:35px;">
        {% for i in data2 %}
                            <option>{{i.route}}</option>
        {% endfor %}
                      </select><br><br>

        <strong style="color:rgb(65, 10, 90)">To City:</strong><br><select name="tcity" style="border-radius:8px;width:600px;height:35px;">
                           {% for i in data2 %}
                            <option>{{i.route}}</option>
        {% endfor %}

                     </select><br><br>

        <strong style="color:rgb(69, 10, 96) ;">Date:</strong><br><input type="date" name="date" style="border-radius:8px;width:600px;height:35px;"><br><br>
        <input type="submit" value="Search" style="color:white;border-radius:8px;width:115px;height:35px;background-color:rgb(111, 17, 155);border:1px solid rgb(173, 26, 179)">
    </form>
    {% endif %}

    </div>
{% endblock content %}